
<div class="p-4 div-mae">
    <h2 class="text-center"> R$ {{conta.saldo}} </h2>
    <div class="center-div">
        <div class="container">
            <div class="item">
                <button class="container" type="button" onclick="hendleClick('email')" data-bs-target="#ModalEmail" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-email" onclick="hendleClick('email')"></div>
                    Email
                </button>
            </div>
            <div class="item">
                <button class="container" type="button" onclick="hendleClick('celular')" data-bs-target="#ModalCelular" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-celular"></div>
                    Celular
                </button>
            </div>
            <div class="item">
                <button class="container" type="button" onclick="hendleClick('cpf')" data-bs-target="#ModalCpf" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-cpf" onclick="hendleClick('cpf')"></div>
                    CPF
                </button>
            </div>
            <div class="item">
                <button class="container" type="button" onclick="hendleClick('aleatorio')" data-bs-target="#ModalAleatorio" data-bs-toggle="modal">
                <div class="mx-2 bg-icone bg-icone-aleatorio" onclick="hendleClick('aleatorio')"></div>
                Aleatorio
                </button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registar chave</button>

    <table class="table table-striped" *ngIf="chavesPix.length > 0 else semChaves">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Chave</th>
            </tr>
        </thead>
        <tbody *ngFor="let chave of chavesPix">
            <tr >
                <td>{{chave.tipo}}</td>
                <td>{{chave.chave}}</td>
            </tr>
        </tbody>
    </table>

    <hr/>
    <ng-template #semChaves>
        <div class="alert alert-warning" role="alert">Não há chaves registradas</div>
    </ng-template>

</div>
<app-modal-cadastrar-chave-pix></app-modal-cadastrar-chave-pix>
<app-modal-destinatario-pix></app-modal-destinatario-pix>
