
<div class="p-4 div-mae">
    <div class="center-div">
        <div class="container">
            <div class="item center-div">
                <button class="container btn botao mx-3" type="button" data-bs-target="#ModalEmail" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-email"></div>
                    Email
                </button>
            </div>
            <div class="item">
                <button class="container btn botao mx-3" type="button" data-bs-target="#ModalCelular" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone-celular"></div>
                    Celular
                </button>
            </div>
            <div class="item">
                <button class="container btn botao mx-3" type="button"  data-bs-target="#ModalCpf" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-cpf"></div>
                    CPF
                </button>
            </div>
            <div class="item">
                <button class="container btn botao mx-3" type="button" data-bs-target="#ModalAleatorio" data-bs-toggle="modal">
                <div class="mx-2 bg-icone-aleatorio"></div>
                Aleatorio
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-striped" *ngIf="chavesPix.length > 0; else semChaves">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Chave</th>
            <th><button type="button" class="btn botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Registar chave</button></th>
          </tr>
        </thead>
      </table>
      <div class="table-body-scroll">
        <table class="table table-striped">
          <tbody *ngFor="let chave of chavesPix">
            <tr>
              <td>{{chave.typePixKey}}</td>
              <td *ngIf="chave.typePixKey !== 'CPF'">{{chave.pixKey}}</td>
              <td *ngIf="chave.typePixKey === 'CPF'">{{formatarCpf(chave.pixKey)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    <ng-template #semChaves>
        <div class="alert alert-warning" role="alert">
            Não há chaves pix registradas
        </div>
    </ng-template>

</div>
<app-modal-cadastrar-chave-pix></app-modal-cadastrar-chave-pix>
<app-modal-destinatario-pix></app-modal-destinatario-pix>
