.tela-container{
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid  #ccc;
    border-radius: 15px;
    padding: 20px;
    background-color: #fcfbfb;
  }
  
.bg-icone{
    padding: 15px;
    background-repeat: no-repeat;
    background-size: 30px;
}
.bg-icone-voltar{
    background-image: url("../../../assets/img/tela-pix/icone_voltar.png");
}
.bg-icone-email{
    background-image: url("../../../assets/img/tela-pix/icone_email.png");
}

.bg-icone-celular{
    background-image: url("../../../assets/img/tela-pix/icone_telefone.png");
}

.bg-icone-cpf{
    background-image: url("../../../assets/img/tela-pix/icone_cpf.png");
}

.bg-icone-aleatorio{
    background-image: url("../../../assets/img/tela-pix/icone_aleatorio.png");
}

.icons{
    white-space: nowrap;
}

.container {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 0px; /* Adiciona espaço entre os ícones e rótulos */
}

.item:last-child {
    margin-right: 0; /* Remove a margem direita do último item */
}

.item button {
    border: none;
    cursor: pointer;
    background-color: #fcfbfb;
}

.center-div{
    margin: 0 auto;
}

.botao-invisivel{
    border: none;
    cursor: pointer;
    background-color: #fcfbfb;
}