
<div class="p-4 div-mae tela-container">
    <button class="botao-invisivel"><div class="mx-2 bg-icone bg-icone-voltar" (click)="voltar()"></div></button>
    <h2 class="text-center"> R$ 3200,00 </h2>
    <div class="center-div">
        <div class="container center-div">
            <div class="item">
                <button class="container" type="button" data-bs-target="#ModalEmail" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-email"></div>
                    Email
                </button>
            </div>
            <div class="item">
                <button class="container" type="button" data-bs-target="#ModalCelular" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-celular"></div>
                    Celular
                </button>
            </div>
            <div class="item">
                <button class="container" type="button"  data-bs-target="#ModalCpf" data-bs-toggle="modal">
                    <div class="mx-2 bg-icone bg-icone-cpf"></div>
                    CPF
                </button>
            </div>
            <div class="item">
                <button class="container" type="button" data-bs-target="#ModalAleatorio" data-bs-toggle="modal">
                <div class="mx-2 bg-icone bg-icone-aleatorio"></div>
                Aleatorio
                </button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registar chave</button>
    <hr/>
    <table class="table table-striped"*ngIf="chavesPix.length > 0, else semChaves">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Chave</th>
            </tr>
        </thead>
        <tbody *ngFor="let chave of chavesPix" >
            <tr >
                <td>{{chave.typePixKey}}</td>
                <td>{{chave.pixKey}}</td>
            </tr>
        </tbody>
    </table>

    <ng-template #semChaves>
        <div class="alert alert-warning" role="alert">
            Não há chaves pix registradas
        </div>
    </ng-template>

</div>
<app-modal-cadastrar-chave-pix></app-modal-cadastrar-chave-pix>
<app-modal-destinatario-pix></app-modal-destinatario-pix>
