<div class="container tela-container">
    <h4>Confirmar Transferecia</h4>

    <div>
        <label for="valor" class="form-label text-center">Valor:</label>
        <input type="text" class="form-control mb-3" id="valor" name="valor" value="0,00" (input)="formatarValor($event)"  [(ngModel)]="transferencia.value">
        <hr/>
    </div>
    <div>
        <p>Pagador</p>
        <h5>{{contaLogada.customerName}}</h5>
        <div>
            <p class="reduzir-espacamento">Agência: {{contaLogada.accountAgency}}</p>
            <p class="reduzir-espacamento">Conta: {{contaLogada.accountNumber}}</p>
        </div>
    </div>
    <hr/>
    <div>
        <p>Beneficiário</p>
        <h5>{{contaDestinoResponse.nameCustomer}}</h5>
        <div>
          <p class="reduzir-espacamento">Agência: {{dadosContaDestino.accountAgency}}</p>
          <p class="reduzir-espacamento">Conta: {{dadosContaDestino.accountNumber}}</p>
        </div>
      </div>
    <div>
        <button type="submit" class="btn btn-primary" (click)="confirmarTransferencia()">Está tudo certo</button>
        <button type="submit" class="btn btn-danger mx-3" (click)="cancelarTransferencia()">Cancelar</button>
    </div>
</div>
