<form>
  <div class="ted-container py-4">
    <div class="mx-3 py-1">
      <label for="numeroConta"  class="form-label">Número da conta destino:</label>
      <input type="text" name="numeroConta" class="form-control" id="numeroConta" [(ngModel)]="infoTed.accountNumber" required>
      <div id="contaHelp" class="form-text">O número deve conter 8 dígitos</div>
    </div>
    <div class="mx-3 py-1">
      <label for="agencia"  class="form-label">Agência:</label>
      <input type="text" name="agencia" class="form-control" id="agencia" [(ngModel)]="infoTed.agency" required>
      <div id="agenciaHelp" class="form-text">O número deve conter 4 dígitos</div>
    </div>
    <div class="mx-3 py-1">
        <label for="valor"  class="form-label">Valor da transferência:</label>
        <input type="number" name="valor" class="form-control" id="valor" [(ngModel)]="infoTed.value" required>
        
      </div>
    <button (click)="transferir()" type="submit" class="btn botao mx-3 btn-sm btn-block mt-3">Efetuar transferência</button>
  </div>
</form>
