<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FourBank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/tela-principal" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pix" href="#">PIX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ted" href="#">TED</a>
        </li>
      </ul>
      <span class="navbar-text ml-auto" id="data">{{ getCurrentDate() }}</span>
      <br>
      <button class="mx-3 navbar-brand" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="../../../assets/img/tela-principal/R.png" alt="sair" width="20" height="25" class="d-inline-block align-text-top">
        Sair
      </button>
    </div>
  </div>
</nav>
<app-modal-sair-conta></app-modal-sair-conta>

