<app-cabecalho></app-cabecalho>
<br>
<div class="container">
  <div class="main-content">
    <div class="sidebar">
      <ul>
        <li>Início</li>
        <li (click)="mostrarComponente('extrato')">Atividade</li>
        <li (click)="mostrarComponente('ted')">Área Ted</li>
        <li (click)="mostrarComponente('pix')">Área Pix</li>
      </ul>
    </div>

    <div class="content">
      <div class="balance">
        <h2>Dinheiro disponível</h2>
        <p>R$ {{formatarMoeda()}}</p>
      </div>

      <div class="activity">
        <h2 *ngIf="componenteAtual === 'extrato'">Sua atividade</h2>
        <h2 *ngIf="componenteAtual === 'pix'">Área PIX</h2>
        <h2 *ngIf="componenteAtual === 'ted'">Área Ted</h2>
        <ng-container *ngIf="componenteAtual === 'extrato'">
          <app-extrato></app-extrato>
        </ng-container>
        <ng-container *ngIf="componenteAtual === 'ted'">
          <app-tela-ted></app-tela-ted>
        </ng-container>
        <ng-container *ngIf="componenteAtual === 'pix'">
          <app-tela-pix></app-tela-pix>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-rodape></app-rodape>