<app-cabecalho></app-cabecalho>
<br>
<div class="container">
    <div class="header">
      <h1>Olá, {{conta.customerName}}</h1>
    </div>
  
    <div class="main-content">
      <div class="sidebar">
        <ul>
          <li>Início</li>
          <li routerLink="/tela-extrato">Atividade</li>
          <li routerLink="/tela-ted">Área TED</li>
          <li routerLink="/tela-pix">Área Pix</li>
        </ul>
      </div>
  
      <div class="content">
        <div class="balance">
          <h2>Dinheiro disponível</h2>
          <p>R$ {{formatarMoeda()}}</p>
        </div>
  
        <div class="activity">
          <h2>Sua atividade</h2>
          <app-extrato></app-extrato>
        </div>
      </div>
    </div>
  </div>
  <app-rodape></app-rodape>
  