.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  .saldo-e-botao {
    position: relative; /* Necessário para o posicionamento absoluto do botão */
    display: flex;
    align-items: center;
    padding-right: 30px; /* Espaço para o ícone, ajuste conforme necessário */
  }
  
  .saldo-e-botao h4 {
    margin: 0;
    flex-grow: 1; /* Ocupa o espaço restante */
  }
  

  button.btn-toggle-saldo {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;
  }
  
  button.btn-toggle-saldo div {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px; /* Ajuste o tamanho conforme necessário */
    background-size: contain;
    background-repeat: no-repeat;
  }

  .bg_icon_open_eye{
    background-image: url(../../../assets/img/tela-principal/icone_olho_aberto.png)
  }

  .bg_icon_close_eye{
    background-image: url(../../../assets/img/tela-principal/icone_olho_fechado.png)
  }
  
  .header {
    background-color: #00A784;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .content {
    width: 80%;
    padding: 20px;
  }
  
  .balance {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .activity {
    background-color: #e9ecef;
    padding: 20px;
  }
  
  button {
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #00A784;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00A784;
  }

  /* Estilos para o painel de saudação */

  