<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Chave</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <select name="chavePix" id="chavePix" class="form-select mb-3" [(ngModel)]="chavePix">
          <option value="0">Selecione</option>
          <option value="email">Email</option>
          <option value="phone">Celular</option>
          <option value="cpf">CPF</option>
          <option value="random">Aleatória</option>
        </select>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>