<footer class="custom-footer">
    <div class="container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a (click)="selecionarComponente('extrato')" class="nav-link px-2">Atividade</a></li>
        <li class="nav-item"><a (click)="selecionarComponente('pix')" class="nav-link px-2">Pix</a></li>
        <li class="nav-item"><a (click)="selecionarComponente('ted')" class="nav-link px-2">Ted</a></li>
      </ul>
      
      <p class="text-center">© 2024 EcoBank, Inc</p>
    </div>
  </footer>
  
