<footer class="container py-3 bg-body-tertiary">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" routerLink="/tela-principal" class="nav-link px-2 text-body-secondary">Home</a></li>
    <li class="nav-item"><a href="#" routerLink="/tela-pix" class="nav-link px-2 text-body-secondary">PIX</a></li>
    <li class="nav-item"><a routerLink="/tela-ted" class="nav-link px-2 text-body-secondary">TED</a></li>
    </ul>
<p class="text-center text-body-secondary">© 2024 FourBank, Inc</p>
</footer>
