<table class="table table-striped" *ngIf="2==2, else listaExtratoVazia">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Data</th>
            <th>Valor(R$)</th>
            <th>Recebedor/Pagador</th>
            <th>Forma de Pagamento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
         <td>Saida</td>
         <td>01/01/2022</td>
         <td>100</td>
         <td>Lucas</td>
         <td>PIX</td>
        </tr>
    </tbody>
    <tbody>
        <tr *ngFor="let transferencia of historico">
            <td>{{transferencia.flag}}</td>
            <td>{{transferencia.dateTransaction}}</td>
            <td>{{transferencia.valor}}</td>
            <td>{{transferencia.origemDestino}}</td>
            <td>{{transferencia.tipo}}</td>
        </tr>
    </tbody>
</table>
<ng-template #listaExtratoVazia>
    <div class="alert alert-info" >
        Não há nenhuma transferêcia 
      </div>
</ng-template>