<div class="content">
  <div class="extrato-section">
    <div class="scrollable-table">
      <table  *ngIf="historico.length>0, else listaExtratoVazia" class="table table-striped">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Data</th>
            <th>Valor(R$)</th>
            <th>Recebedor/Pagador</th>
            <th>Forma de Pagamento</th>
          </tr>
        </thead>
        <tbody>
          <!-- Conteúdo da tabela gerado dinamicamente -->
          <tr *ngFor="let transferencia of historico">
            <td [ngClass]="{'text-verde': transferencia.flag === 'Entrada', 'text-vermelho': transferencia.flag === 'Saída'}">{{ transferencia.flag }}</td>
            <td [ngClass]="{'text-verde': transferencia.flag === 'Entrada', 'text-vermelho': transferencia.flag === 'Saída'}">{{ transferencia.dateTransaction | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td [ngClass]="{'text-verde': transferencia.flag === 'Entrada', 'text-vermelho': transferencia.flag === 'Saída'}">{{ formatarMoeda(transferencia.value) }}</td>
            <td [ngClass]="{'text-verde': transferencia.flag === 'Entrada', 'text-vermelho': transferencia.flag === 'Saída'}">{{ transferencia.originDestiny }}</td>
            <td [ngClass]="{'text-verde': transferencia.flag === 'Entrada', 'text-vermelho': transferencia.flag === 'Saída'}">{{ transferencia.typeTransaction }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #listaExtratoVazia>
  <div class="alert alert-info">
    Não há nenhuma transferência 
  </div>
</ng-template>
