/* Estilos de container e cabeçalho (já existentes) */
.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #00A784;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header h2 {
    margin-top: 10px;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #e2e6ea;
  }
  
  .content {
    width: 100%;
    padding: 10px;
  }
  
  .extrato-section {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
  }
  
  .scrollable-table {
    max-height: 400px; /* Defina a altura máxima para o contêiner rolável */
    overflow-y: auto;
    position: relative;
  }
  
  .scrollable-table thead th {
    position: sticky;
    top: 0;
    background-color: #00A784;
    color: white;
    z-index: 1;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  .table-striped tbody tr:hover {
    background-color: #d2d2d2;
  }
  
  /* Estilo do alerta */
  .alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #d9edf7;
    color: #00A784;
    border: 1px solid #bce8f1;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #00A784;
  }
  /* Estilos para a tabela e cabeçalho */
.scrollable-table {
  overflow-x: auto;
}

.table thead th {
  background-color: #00A784; /* Cor de fundo azul */
  color: white; /* Cor do texto branca */
  padding: 10px; /* Espaçamento interno */
  border-radius: 10px 10px 0 0; /* Bordas arredondadas para o topo */
  border: none; /* Remover bordas padrão */
}

.table thead th:first-child {
  border-top-left-radius: 10px; /* Bordas arredondadas para o primeiro item */
}

.table thead th:last-child {
  border-top-right-radius: 10px; /* Bordas arredondadas para o último item */
}

.table tbody tr:first-child td {
  border-top: none; /* Remover borda superior da primeira linha */
}

/* Estilos para a tabela */
.table {
  border-collapse: separate; /* Manter as bordas separadas */
  border-spacing: 0 5px; /* Espaçamento entre as linhas */
}


  