<app-cabecalho></app-cabecalho>
<br>
<div class="container">
    <div class="header">
      <h1>Seu Extrato</h1>
    </div>
  
    <div class="main-content">
      <div class="sidebar">
        <ul>
          <li routerLink="/tela-principal" >Início</li>
          <li routerLink="/ted">Área Ted</li>
          <li routerLink="/pix">Área Pix</li>
        </ul>
      </div>
      <div class="content">
          <h2>Extrato de Atividades</h2>
          <app-extrato></app-extrato>
        </div>  
    </div>
  </div>

<app-rodape></app-rodape>
